{% extends 'base.html.twig' %}

{% block title %}My account - The shop
{% endblock %}

{% block body %}
	<h1 class="h2">My account</h1>
	<p>Welcome to your account
		{{ app.user.firstName }}. Manage your account as you want.</p>
	<hr>
		<div>
			<a href="{{path('app_account_password')}}" class="d-block">Modify password</a>
			<a href="{{path('app_account_address')}}" class="d-block">Set up addresses</a>
			<a href="{{path('app_account_order')}}" class="d-block">My orders</a>
		</div>
	</hr>

{% endblock %}
