{% extends 'base.html.twig' %}

{% block title %}My account - The shop{% endblock %}

{% block body %}
    <h1>My account</h1>
    Welcome to your account {{ app.user.firstName }}. Manage your account as you want.
    <hr>
    <a href="{{path('app_account_password')}}">Modify password</a>
    -add adresses
    -orders
    </hr>
    
{% endblock %}
