{% extends 'layouts/base.html.twig' %}


{% block title %}My account - Change password
{% endblock %}

{% block body %}
	<h1>Modify your password</h1>

	<hr>
	<p>Go back to<a href="{{path('app_account')}}">
			your account</a>
	</p>

	<hr>
	{% if infoUpdate %}
		<div class="alert alert-info">
			{{ infoUpdate }}</div>
	{% endif %}
	{{ form(form) }}
		<hr>
	{% endblock %}
