{% extends 'base.html.twig' %}

{% block title %}My account - Change password
{% endblock %}

{% block body %}
	<h1>Modify your password</h1>

	<hr>
	<a href="{{path('app_account')}}">Go back to your account</a>
	<hr>
	{% if infoUpdate %}
		<div class="alert alert-info">
			{{ infoUpdate }}</div>
	{% endif %}
	{{ form(form) }}
		<hr>
	{% endblock %}
