{% extends 'layouts/base.html.twig' %}

{% block carousel %}{% endblock %}
{% block body %}
	<!-- Three columns of text below the carousel -->
	<h3>Best sales</h3>
	<p class="mb-4">Find our most sold products</p>
	<div class="row">
		{% for product in products %}
			<div class="col-md-4 product-image rounded-top overflow-hidden hover-zoom mb-4">{% include 'products/single_product.html.twig' %}</div>
		{% endfor %}
	</div>
	<!-- /.row -->


	<!-- START THE FEATURETTES -->

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">Our new collection has arrived.
				<span class="text-muted">Come and take a look.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 my-auto"><img src="{{ asset('assets/images/showcase1.jpg')}}" class="img-fluid" alt="Clothes and shoes"></div>

	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7 order-md-2">
			<h2 class="featurette-heading">We have opened and we are ready.
				<span class="text-muted">See for yourself.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 my-auto"><img src="{{ asset('assets/images/showcase3.jpg')}}" class="img-fluid" alt="Shop general view"></div>


	</div>

	<hr class="featurette-divider">

	<div class="row featurette">
		<div class="col-md-7">
			<h2 class="featurette-heading">New men collection has arrived.
				<span class="text-muted">It’ll blow your mind.</span>
			</h2>
			<p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
		</div>
		<div class="col-md-5 my-auto"><img src="{{ asset('assets/images/showcase2.jpg')}}" class="img-fluid" alt="Man in costume"></div>
	</div>


	<!-- /END THE FEATURETTES -->

{% endblock %}
