{% extends 'base.html.twig' %}

{% block title %}The shop - Our products
{% endblock %}

{% block body %}

	<div class="row">
		<div class="col-md-3">
			<h1 class="h3 mb-3">Filter</h1>
			{{ form(form) }}
			</div>
			<div class="col-md-9">
				<h1 class="h3 mb-3 text-center">Our products</h1>

				<div class="row">
					{% for product in products %}
						<div class="col-md-4 text-center mb-5">
							{% include 'products/single_product.html.twig' %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>


	{% endblock %}
