{% extends 'layouts/base.html.twig' %}


{% block title %}The shop - Our products
{% endblock %}

{% block body %}

<div class="row">

	<div class="col-md-3">
		<h1 class="h3 mb-3">Filter</h1>
		{{ form(form) }}
	</div>

	<div class="col-md-9">
		<h1 class="h3 mb-3 text-center">Our products</h1>
		<div class="row">
			{% for product in products %}
			<div
				class="mx-auto col-lg-4 col-md-6 col-sm-6 col-10 text-center product-image rounded-top overflow-hidden hover-zoom mb-4">
				{% include 'products/single_product.html.twig' %}
			</div>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}