{% for type, messages in app.flashes(['info', 'succes', 'error']) %}
	{% for message in messages %}
		<div class="alert alert-{{ type }}" role="alert">
			{{ message }}
		</div>
	{% endfor %}
{% endfor %}
