<footer class=" text-center mt-5">
	<p>&copy; 2021 The shop<br/><small>Your favorite shop</small><br/><a href="#" class="text-secondary text-decoration-none">Privacy</a>
		&middot;
		<a href="#" class="text-secondary text-decoration-none">Terms</a>
	</p>
</footer>
