.navbar-links,
.navbar-links a {
	color: #fff;
}

.cart-icon {
	height: 20px;
	padding-left: 15px;
}

.form-check {
	background-color: #f4f8ff;
	padding: 20px 40px;
	margin-top: 10 px;
}

.col-form-label {
	font-weight: bold;
}

.order-summary {
	background-color: #f4f8ff;
}

.header-background {
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-position: center center !important;
	background-size: cover !important;
}
