body {
	min-height: 100vh;
	position: relative;
}

.navbar-links,
.navbar-links a {
	color: #fff;
}

.cart-icon {
	height: 20px;
	padding-left: 15px;
}

.form-check {
	background-color: #f4f8ff;
	padding: 20px 40px;
	margin-top: 10 px;
}

.col-form-label {
	font-weight: bold;
}

.order-summary {
	background-color: #f4f8ff;
}

.header-background {
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-position: center center !important;
	background-size: cover !important;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
}

.alert {
	padding: 10px;
	color: white;
	text-align: center;
	margin: 0;
	border-radius: 0;
	border: none;
}
.alert-success {
	background-color: green;
}
.alert-error {
	background-color: red;
}
.alert-info {
	background-color: blue;
}

.product-image img {
	transition: transform 0.5s ease-in-out;
}
.product-image img:hover {
	transform: scale(1.075);
}
