{% extends 'layouts/base.html.twig' %}


{% block body %}
	<h1 class="h2 mb-3 font-weight-normal">Register</h1>

	{% if notification %}
		<div class="alert alert-info">{{notification}}</div>
		<hr>
	{% endif %}
	{{form(form)}}{% endblock %}
